{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card my-5">
                <div class="card-body">
                    <h3 class="card-title text-center">Edit Event: {{ event.name }}</h3>
                    <form method="post" class="my-4">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                            {% if field.name == 'description' %}
                                <textarea class="form-control" id="{{ field.id_for_label }}" name="{{ field.name }}" rows="6">{{ field.value|default_if_none:'' }}</textarea>
                            {% elif field.name == 'start_date' or field.name == 'end_date' %}
                                <input type="datetime-local" class="form-control" id="{{ field.id_for_label }}" name="{{ field.name }}" value="{{ field.value|date:'Y-m-d\TH:i' }}" required>
                            {% else %}
                                <input class="{{ field.field.widget.attrs.class }} form-control" id="{{ field.id_for_label }}" name="{{ field.html_name }}" type="{{ field.field.widget.input_type }}" value="{{ field.value }}">
                            {% endif %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">{{ error }}</div>
                            {% endfor %}
                            {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                        </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary btn-block">Update Event</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
