{% extends "base.html" %}

{% block content %}
<div class="container">
    {% if messages %}
    <div class="row">
        <div class="col-12 text-center">
            {% for message in messages %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card my-5">
                <div class="card-body">
                    <h3 class="card-title text-center">Login</h3>
                    <form method="post" class="my-4">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" name="username" id="username" class="form-control" placeholder="Enter username" required aria-describedby="usernameHelp" autocomplete="username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" class="form-control" placeholder="Enter password" required aria-describedby="passwordHelp" autocomplete="current-password">
                        </div>
                        {% if form.non_field_errors %}
                            <div class="alert alert-danger">{{ form.non_field_errors|first }}</div>
                        {% endif %}
                        {% if error %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endif %}
                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                        <p class="text-center mt-3">
                            Don't have an account? <a href="{% url 'register' %}">Create one</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
