{% extends "base.html" %}


{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card-register">
                <div class="card-body">
                    <h3 class="card-title text-center">Register</h3>
                    <form method="post" class="my-4">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" name="username" id="username" class="form-control" required>
                            {% for error in form.username.errors %}
                            <div class="alert alert-danger">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" class="form-control" required>
                            {% for error in form.email.errors %}
                            <div class="alert alert-danger">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="first_name">First Name</label>
                            <input type="text" name="first_name" id="first_name" class="form-control" required>
                            {% for error in form.first_name.errors %}
                            <div class="alert alert-danger">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="last_name">Last Name</label>
                            <input type="text" name="last_name" id="last_name" class="form-control" required>
                            {% for error in form.last_name.errors %}
                            <div class="alert alert-danger">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="password1">Password</label>
                            <input type="password" name="password1" id="password1" class="form-control" required>
                            <small>Password must contain at least one uppercase letter,one number and minimum 8 charecters</small>
                            {% for error in form.password1.errors %}
                            <div class="alert alert-danger">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="password2">Confirm Password</label>
                            <input type="password" name="password2" id="password2" class="form-control" required>
                            {% for error in form.password2.errors %}
                            <div class="alert alert-danger">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Register</button>
                        <p class="text-center mt-4">Already have an account? <a href="{% url 'login' %}">Login Here</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
